# Database files
pingator_v2.db
pingator_v2.db-journal
pingator_v2.db-wal
pingator_v2.db-shm

# Python temporary files (Cache)
__pycache__/
*.pyc
*.pyo

# Virtual environments 
venv/
.venv/
env/

Run_Pingator.bat