# DB Files
pingator_v2.db
pingator_v2.db-journal
pingator_v2.db-wal
pingator_v2.db-shm

# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environment directories
venv/
.venv/
env/